In [1]:
import pandas as pd 
import json

In [3]:
url = "https://covid.ourworldindata.org/data/owid-covid-data.csv"
covid_general = pd.read_csv(url, sep=",")
covid_general

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
0,AFG,Asia,Afghanistan,2019-12-31,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
1,AFG,Asia,Afghanistan,2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
2,AFG,Asia,Afghanistan,2020-01-02,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
3,AFG,Asia,Afghanistan,2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
4,AFG,Asia,Afghanistan,2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,...,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33412,NaN,NaN,International,2020-02-28,705.0,0.0,4.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33413,NaN,NaN,International,2020-02-29,705.0,0.0,6.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33414,NaN,NaN,International,2020-03-01,705.0,0.0,6.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33415,NaN,NaN,International,2020-03-02,705.0,0.0,6.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33416,NaN,NaN,International,2020-03-10,696.0,-9.0,7.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
paises_grupoD=["PRT", "VEN", "TUR", "GBR", "ESP"]
covid_grupoD=covid_general[covid_general.iso_code.isin(paises_grupoD)]
covid_grupoD

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
24306,PRT,Europe,Portugal,2020-03-01,NaN,NaN,NaN,NaN,NaN,NaN,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
24307,PRT,Europe,Portugal,2020-03-02,NaN,NaN,NaN,NaN,NaN,NaN,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
24308,PRT,Europe,Portugal,2020-03-03,2.0,2.0,0.0,0.0,0.196,0.196,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
24309,PRT,Europe,Portugal,2020-03-04,4.0,2.0,0.0,0.0,0.392,0.196,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
24310,PRT,Europe,Portugal,2020-03-05,5.0,1.0,0.0,0.0,0.490,0.098,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32454,VEN,South America,Venezuela,2020-07-25,14263.0,650.0,134.0,5.0,501.584,22.858,...,3.915,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.80,72.06
32455,VEN,South America,Venezuela,2020-07-26,14263.0,0.0,134.0,0.0,501.584,0.000,...,3.915,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.80,72.06
32456,VEN,South America,Venezuela,2020-07-27,15463.0,1200.0,142.0,8.0,543.784,42.200,...,3.915,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.80,72.06
32457,VEN,South America,Venezuela,2020-07-28,15988.0,525.0,146.0,4.0,562.246,18.463,...,3.915,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.80,72.06
32458,VEN,South America,Venezuela,2020-07-29,16571.0,583.0,151.0,5.0,582.748,20.502,...,3.915,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.80,72.06

In [5]:
covid_grupoD.info()# queriamos ver el tipo Dtype de cada columna

<class 'pandas.core.frame.DataFrame'>
Int64Index: 848 entries, 24306 to 32458
Data columns (total 34 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   iso_code                         848 non-null    object
 1   continent                        848 non-null    object
 2   location                         848 non-null    object
 3   date                             848 non-null    object
 4   total_cases                      846 non-null    float64
 5   new_cases                        846 non-null    float64
 6   total_deaths                     846 non-null    float64
 7   new_deaths                       846 non-null    float64
 8   total_cases_per_million          846 non-null    float64
 9   new_cases_per_million            846 non-null    float64
 10  total_deaths_per_million         846 non-null    float64
 11  new_deaths_per_million           846 non-null    float64
 12  new_tests                        369 non-null    float64
 13  total_tests                      394 non-null    float64
 14  total_tests_per_thousand         394 non-null    float64
 15  new_tests_per_thousand           369 non-null    float64
 16  new_tests_smoothed               457 non-null    float64
 17  new_tests_smoothed_per_thousand  457 non-null    float64
 18  tests_units                      485 non-null    object
 19  stringency_index                 825 non-null    float64
 20  population                       848 non-null    float64
 21  population_density               848 non-null    float64
 22  median_age                       848 non-null    float64
 23  aged_65_older                    848 non-null    float64
 24  aged_70_older                    848 non-null    float64
 25  gdp_per_capita                   848 non-null    float64
 26  extreme_poverty                  712 non-null    float64
 27  cardiovasc_death_rate            848 non-null    float64
 28  diabetes_prevalence              848 non-null    float64
 29  female_smokers                   712 non-null    float64
 30  male_smokers                     712 non-null    float64
 31  handwashing_facilities           0 non-null      float64
 32  hospital_beds_per_thousand       848 non-null    float64
 33  life_expectancy                  848 non-null    float64
dtypes: float64(29), object(5)
memory usage: 231.9+ KB

In [6]:
#covid_grupoD["date"]=pd.to_datetime(covid_grupoD["date"],format="%Y-%m-%d")
#covid_grupoD

In [7]:
covid_grupoD.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 848 entries, 24306 to 32458
Data columns (total 34 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   iso_code                         848 non-null    object
 1   continent                        848 non-null    object
 2   location                         848 non-null    object
 3   date                             848 non-null    object
 4   total_cases                      846 non-null    float64
 5   new_cases                        846 non-null    float64
 6   total_deaths                     846 non-null    float64
 7   new_deaths                       846 non-null    float64
 8   total_cases_per_million          846 non-null    float64
 9   new_cases_per_million            846 non-null    float64
 10  total_deaths_per_million         846 non-null    float64
 11  new_deaths_per_million           846 non-null    float64
 12  new_tests                        369 non-null    float64
 13  total_tests                      394 non-null    float64
 14  total_tests_per_thousand         394 non-null    float64
 15  new_tests_per_thousand           369 non-null    float64
 16  new_tests_smoothed               457 non-null    float64
 17  new_tests_smoothed_per_thousand  457 non-null    float64
 18  tests_units                      485 non-null    object
 19  stringency_index                 825 non-null    float64
 20  population                       848 non-null    float64
 21  population_density               848 non-null    float64
 22  median_age                       848 non-null    float64
 23  aged_65_older                    848 non-null    float64
 24  aged_70_older                    848 non-null    float64
 25  gdp_per_capita                   848 non-null    float64
 26  extreme_poverty                  712 non-null    float64
 27  cardiovasc_death_rate            848 non-null    float64
 28  diabetes_prevalence              848 non-null    float64
 29  female_smokers                   712 non-null    float64
 30  male_smokers                     712 non-null    float64
 31  handwashing_facilities           0 non-null      float64
 32  hospital_beds_per_thousand       848 non-null    float64
 33  life_expectancy                  848 non-null    float64
dtypes: float64(29), object(5)
memory usage: 231.9+ KB

In [8]:
covid_grupoD.set_index(["date"],inplace=True)

In [9]:
covid_grupoD

,iso_code,continent,location,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
date,,,,,,,,,,,,,,,,,,,,,
2020-03-01,PRT,Europe,Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
2020-03-02,PRT,Europe,Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
2020-03-03,PRT,Europe,Portugal,2.0,2.0,0.0,0.0,0.196,0.196,0.000,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
2020-03-04,PRT,Europe,Portugal,4.0,2.0,0.0,0.0,0.392,0.196,0.000,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
2020-03-05,PRT,Europe,Portugal,5.0,1.0,0.0,0.0,0.490,0.098,0.000,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-07-25,VEN,South America,Venezuela,14263.0,650.0,134.0,5.0,501.584,22.858,4.712,...,3.915,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.80,72.06
2020-07-26,VEN,South America,Venezuela,14263.0,0.0,134.0,0.0,501.584,0.000,4.712,...,3.915,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.80,72.06
2020-07-27,VEN,South America,Venezuela,15463.0,1200.0,142.0,8.0,543.784,42.200,4.994,...,3.915,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.80,72.06
2020-07-28,VEN,South America,Venezuela,15988.0,525.0,146.0,4.0,562.246,18.463,5.134,...,3.915,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.80,72.06
2020-07-29,VEN,South America,Venezuela,16571.0,583.0,151.0,5.0,582.748,20.502,5.310,...,3.915,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.80,72.06

In [10]:
covid_no_NaN = covid_grupoD.copy()

In [11]:
covid_no_NaN.shape

(848, 33)

In [12]:
covid_no_NaN.dropna(subset=["total_deaths"],axis=0, inplace=True)

In [13]:
covid_no_NaN

,iso_code,continent,location,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy
date,,,,,,,,,,,,,,,,,,,,,
2020-03-03,PRT,Europe,Portugal,2.0,2.0,0.0,0.0,0.196,0.196,0.000,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
2020-03-04,PRT,Europe,Portugal,4.0,2.0,0.0,0.0,0.392,0.196,0.000,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
2020-03-05,PRT,Europe,Portugal,5.0,1.0,0.0,0.0,0.490,0.098,0.000,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
2020-03-06,PRT,Europe,Portugal,9.0,4.0,0.0,0.0,0.883,0.392,0.000,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
2020-03-07,PRT,Europe,Portugal,13.0,4.0,0.0,0.0,1.275,0.392,0.000,...,14.924,27936.896,0.5,127.842,9.85,16.3,30.0,NaN,3.39,82.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-07-25,VEN,South America,Venezuela,14263.0,650.0,134.0,5.0,501.584,22.858,4.712,...,3.915,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.80,72.06
2020-07-26,VEN,South America,Venezuela,14263.0,0.0,134.0,0.0,501.584,0.000,4.712,...,3.915,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.80,72.06
2020-07-27,VEN,South America,Venezuela,15463.0,1200.0,142.0,8.0,543.784,42.200,4.994,...,3.915,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.80,72.06
2020-07-28,VEN,South America,Venezuela,15988.0,525.0,146.0,4.0,562.246,18.463,5.134,...,3.915,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.80,72.06
2020-07-29,VEN,South America,Venezuela,16571.0,583.0,151.0,5.0,582.748,20.502,5.310,...,3.915,16745.022,NaN,204.850,6.47,NaN,NaN,NaN,0.80,72.06

In [14]:
final_covid_D = covid_no_NaN.groupby("date").mean().total_deaths
final_covid_D

date
2019-12-31        0.0
2020-01-01        0.0
2020-01-02        0.0
2020-01-03        0.0
2020-01-04        0.0
               ...
2020-07-25    16307.0
2020-07-26    16323.2
2020-07-27    16331.6
2020-07-28    16338.0
2020-07-29    13349.0
Name: total_deaths, Length: 212, dtype: float64

In [15]:
final_covid_D=final_covid_D.to_frame()

In [16]:
final_covid_D.rename(columns={"total_deaths":"t_d_averages"},inplace=True)
final_covid_D

            t_d_averages
date
2019-12-31           0.0
2020-01-01           0.0
2020-01-02           0.0
2020-01-03           0.0
2020-01-04           0.0
...                  ...
2020-07-25       16307.0
2020-07-26       16323.2
2020-07-27       16331.6
2020-07-28       16338.0
2020-07-29       13349.0

[212 rows x 1 columns]

In [17]:
final_covid_D.info()

<class 'pandas.core.frame.DataFrame'>
Index: 212 entries, 2019-12-31 to 2020-07-29
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   t_d_averages  212 non-null    float64
dtypes: float64(1)
memory usage: 3.3+ KB

In [19]:
json_d = final_covid_D.to_json()

In [20]:
json_d

'{"t_d_averages":{"2019-12-31":0.0,"2020-01-01":0.0,"2020-01-02":0.0,"2020-01-03":0.0,"2020-01-04":0.0,"2020-01-05":0.0,"2020-01-06":0.0,"2020-01-07":0.0,"2020-01-08":0.0,"2020-01-09":0.0,"2020-01-10":0.0,"2020-01-11":0.0,"2020-01-12":0.0,"2020-01-13":0.0,"2020-01-14":0.0,"2020-01-15":0.0,"2020-01-16":0.0,"2020-01-17":0.0,"2020-01-18":0.0,"2020-01-19":0.0,"2020-01-20":0.0,"2020-01-21":0.0,"2020-01-22":0.0,"2020-01-23":0.0,"2020-01-24":0.0,"2020-01-25":0.0,"2020-01-26":0.0,"2020-01-27":0.0,"2020-01-28":0.0,"2020-01-29":0.0,"2020-01-30":0.0,"2020-01-31":0.0,"2020-02-01":0.0,"2020-02-02":0.0,"2020-02-03":0.0,"2020-02-04":0.0,"2020-02-05":0.0,"2020-02-06":0.0,"2020-02-07":0.0,"2020-02-08":0.0,"2020-02-09":0.0,"2020-02-10":0.0,"2020-02-11":0.0,"2020-02-12":0.0,"2020-02-13":0.0,"2020-02-14":0.0,"2020-02-15":0.0,"2020-02-16":0.0,"2020-02-17":0.0,"2020-02-18":0.0,"2020-02-19":0.0,"2020-02-20":0.0,"2020-02-21":0.0,"2020-02-22":0.0,"2020-02-23":0.0,"2020-02-24":0.0,"2020-02-25":0.0,"2020-02-26":0.0,"2020-02-27":0.0,"2020-02-28":0.0,"2020-02-29":0.0,"2020-03-01":0.0,"2020-03-02":0.0,"2020-03-03":0.0,"2020-03-04":0.0,"2020-03-05":0.3333333333,"2020-03-06":1.0,"2020-03-07":2.0,"2020-03-08":2.3333333333,"2020-03-09":2.3333333333,"2020-03-10":10.3333333333,"2020-03-11":14.0,"2020-03-12":13.5,"2020-03-13":23.25,"2020-03-14":43.6666666667,"2020-03-15":41.0,"2020-03-16":66.2,"2020-03-17":74.8,"2020-03-18":114.6,"2020-03-19":143.2,"2020-03-20":186.4,"2020-03-21":242.2,"2020-03-22":321.8,"2020-03-23":409.8,"2020-03-24":520.2,"2020-03-25":656.2,"2020-03-26":846.0,"2020-03-27":1020.4,"2020-03-28":1237.6,"2020-03-29":1470.8,"2020-03-30":1689.6,"2020-03-31":1938.8,"2020-04-01":2198.2,"2020-04-02":2523.0,"2020-04-03":2863.6,"2020-04-04":3214.0,"2020-04-05":3547.4,"2020-04-06":3831.4,"2020-04-07":4090.6,"2020-04-08":4469.2,"2020-04-09":4852.0,"2020-04-10":5234.4,"2020-04-11":5610.6,"2020-04-12":5906.4,"2020-04-13":6193.6,"2020-04-14":6471.6,"2020-04-15":6865.6,"2020-04-16":7186.8,"2020-04-17":7540.6,"2020-04-18":7871.4,"2020-04-19":8206.6,"2020-04-20":8416.8,"2020-04-21":8643.4,"2020-04-22":8994.2,"2020-04-23":9277.6,"2020-04-24":9526.4,"2020-04-25":9836.8,"2020-04-26":10088.8,"2020-04-27":10197.6,"2020-04-28":10414.6,"2020-04-29":10710.4,"2020-04-30":10944.0,"2020-05-01":11157.2,"2020-05-02":11377.0,"2020-05-03":11552.8,"2020-05-04":11668.8,"2020-05-05":11776.2,"2020-05-06":11977.6,"2020-05-07":12165.8,"2020-05-08":12324.4,"2020-05-09":12506.4,"2020-05-10":12616.6,"2020-05-11":12706.0,"2020-05-12":12796.0,"2020-05-13":12972.6,"2020-05-14":13128.8,"2020-05-15":13254.8,"2020-05-16":13363.2,"2020-05-17":13485.0,"2020-05-18":13542.6,"2020-05-19":13597.2,"2020-05-20":13737.0,"2020-05-21":13827.8,"2020-05-22":14041.2,"2020-05-23":14129.2,"2020-05-24":14209.4,"2020-05-25":13858.6,"2020-05-26":13948.0,"2020-05-27":13983.2,"2020-05-28":14075.4,"2020-05-29":14159.8,"2020-05-30":14234.4,"2020-05-31":14285.6,"2020-06-01":14316.0,"2020-06-02":14435.2,"2020-06-03":14507.2,"2020-06-04":14587.4,"2020-06-05":14628.6,"2020-06-06":14705.8,"2020-06-07":14753.2,"2020-06-08":14774.2,"2020-06-09":14790.2,"2020-06-10":14852.6,"2020-06-11":14905.6,"2020-06-12":14941.0,"2020-06-13":14984.6,"2020-06-14":15025.2,"2020-06-15":15036.6,"2020-06-16":15048.6,"2020-06-17":15099.2,"2020-06-18":18918.25,"2020-06-19":15407.4,"2020-06-20":15449.0,"2020-06-21":15480.0,"2020-06-22":15493.8,"2020-06-23":15503.0,"2020-06-24":15566.0,"2020-06-25":15603.4,"2020-06-26":15640.4,"2020-06-27":15683.2,"2020-06-28":15708.4,"2020-06-29":15720.2,"2020-06-30":15732.2,"2020-07-01":15770.2,"2020-07-02":15811.4,"2020-07-03":15838.2,"2020-07-04":15871.8,"2020-07-05":15891.2,"2020-07-06":15902.2,"2020-07-07":15911.4,"2020-07-08":15949.4,"2020-07-09":15981.2,"2020-07-10":16005.8,"2020-07-11":16021.0,"2020-07-12":16056.8,"2020-07-13":16067.4,"2020-07-14":16075.2,"2020-07-15":16109.4,"2020-07-16":16132.8,"2020-07-17":16152.4,"2020-07-18":16180.0,"2020-07-19":16192.4,"2020-07-20":16202.8,"2020-07-21":16210.2,"2020-07-22":16238.2,"2020-07-23":16259.4,"2020-07-24":16276.6,"2020-07-25":16307.0,"2020-07-26":16323.2,"2020-07-27":16331.6,"2020-07-28":16338.0,"2020-07-29":13349.0}}'